<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" color="dark">
  <section id="header-content">
    <div id="header-section" [class.center]="role === 'user'">
      <div class="fire-alarm-section" *ngIf="role === 'admin'">
        <div class="hour-picker">
          <ion-label class="hour-picker-label">
            Stunde wählen:
          </ion-label>
          <ion-select class="hour-picker-select" [value]="times.currentSchoolHour" mode="md"
                      okText="Ok" cancelText="Abbrechen" (ionChange)="onSelectValueChange($event)">
            <ion-select-option *ngFor="let hours of times.schoolHours" [value]="hours[0]">{{hours[1]}}</ion-select-option>
          </ion-select>
        </div>
        <div class="fire-alarm" (click)="fireAlert()">
          <img src="../../assets/svg/bell-solid.svg" />
          Feueralarm auslösen 
        </div>
      </div>
      <div class="searchstate">
        <div class="state">
          <ion-segment [value]="selectedState" mode="md" (ionChange)="segmentChanged($event)" scrollable="true">
            <ion-segment-button value="4">
              <ion-label>Alle</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1">
              <ion-label>Offen</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>Anwesend</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>Unvollständig</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div id="right-menu-items">
          <div class="searchbar">
            <ion-searchbar (ionInput)="setSearchValue($event)" (ionClear)="clearSearch()" placeholder="Suchen"></ion-searchbar>
          </div>
          <ion-icon name="information-circle" (click)="openInformation()"></ion-icon>
          <ion-icon name="settings-outline" (click)="openSettings()"></ion-icon>
        </div>
      </div>
    </div>
  </section>
  <section id="teacher-section">
    <div class="teacher-item" *ngFor="let teacher of filter">
      <div class="info-flex flex">
        <div class="informations">
          <div class="teachers" style="display: flex; flex-wrap: wrap;">
            <div *ngIf="sortby === 'teacher'; then showTeacher else showClass"></div>
            <ng-template #showTeacher class="showTeacher">
              <div class="teacher-header">
                <h2 *ngFor="let teacherName of teacher.names" class="teacher">{{teacherName}}</h2>
              </div>
              <h3>Klasse: {{teacher.class}} ({{teacher.classNumber}})</h3>
            </ng-template>
            <ng-template #showClass class="showClass">
              <h2>{{teacher.class}}</h2>
              <h3>Kürzel: {{teacher.classNumber}}</h3>
              <div class="teacher-paragraph" style="display: flex; flex-wrap: wrap;">
                <h4 class="teacher-teacher">Lehrer/innen:</h4>
                <h4 *ngFor="let teacherName of teacher.names" class="teacher">{{teacherName}}</h4>
              </div>
            </ng-template>
          </div>
          <h3 class="room">Raum: <span class="rooms" *ngFor="let roomNumber of teacher.room">{{roomNumber}}</span> </h3>
          <h3>Status: 
            <span *ngIf="teacher.state === 1" style="color: #f8d93d;">Offen</span>
            <span *ngIf="teacher.state === 2" style="color: #22B152;">Anwesend</span>
            <span *ngIf="teacher.state === 3" style="color: #f32843;">Unvollständig</span>
          </h3>
          <h3 *ngIf="teacher.comment" style="margin-top: 2%;">Kommentar:</h3>
        </div>
        <div class="setcomment">
          <img src="../../assets/svg/comment-alt-solid.svg" (click)="setComment(teacher)"/>
        </div>
      </div>
      <div class="comment">
        <div class="commentset" *ngIf="teacher.comment" style="margin: 0; font-size: 14px;">
          {{teacher.comment}}
        </div>
        <div class="commentdelete">
          <img *ngIf="teacher.comment" src="../../assets/svg/trash-alt-solid.svg" (click)="deleteComment(teacher)"/>
        </div>
      </div>
      <div class="buttons flex">
        <div class="bttn lost" (click)="setLost(teacher)">
          <img src="../../assets/svg/times-solid.svg" />
          <div>Unvollständig</div>
        </div>
        <div class="bttn present" (click)="setPresent(teacher)">
          <img src="../../assets/svg/check-solid.svg"/>
          <div>Anwesend</div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
