<ion-content [fullscreen]="true" color="dark">
  <div id="content">
    <ion-icon name="arrow-back" style="font-size: 22px; margin-bottom: 15px; cursor: pointer;" (click)="back()"></ion-icon>
    <h1>Informationen</h1>
    <section id="items">
      <div class="item">
        <h2>Datum:</h2>
        <div>{{getFormatedTime(infos.date,"DD.MM.yyyy")}}</div>
      </div>
      <div class="item">
        <h2>Uhrzeit:</h2>
        <div>{{getFormatedTime(infos.date,"HH:mm")}} Uhr</div>
      </div>
      <div class="item">
        <h2>Rolle:</h2>
        <div>{{infos.role}}</div>
      </div>
      <div class="item">
        <h2>Version:</h2>
        <div>1.3</div>
      </div>
      <div class="item">
        <h2>Lizenz:</h2>
        <a href="https://en.wikipedia.org/wiki/MIT_License" target="_blank">MIT-Lizenz</a>
      </div>
    </section>
  </div>
  <div class="footer">
    <div class="bttn" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Abmelden
    </div>
  </div>
</ion-content> 
