#content{
    padding: 30px;
    h1{color: #fff; margin: 0; margin-bottom: 20px; font-size: 35px; font-weight: 600;}
}

#items{
    .item{
        padding: 20px 5px; display: flex; justify-content: space-between; border-top: solid 1px #333333;
        h2, div, a{margin: 0; color: #fff; font-size: 16px;}
    }
    .item:last-of-type{
        border-bottom: solid 1px #333333;
    }
}

.footer{
    height: 75px; padding: 0 30px 30px 30px; width: 100%; bottom: 0; left: 0; right: 0; align-content: center; justify-content: center; display: flex; position: fixed; 
    .bttn{
        align-content: center; justify-content: center; position: relative; display: flex; width: 100%; align-items: center; background-size: 300%; color: #111; cursor: pointer;
        background-image: linear-gradient(45deg, #3880ff, #5895ff, #74a7ff, #c7dbff, #c7dbff, #74a7ff, #5895ff, #3880ff); border-radius: 5px; font-size: 18px;
        ion-icon{
            margin-right: 5px; font-size: 20px; color: #111
        }
    }
    .bttn:hover{
        animation: slidebg 5s infinite;
    } 
}

@keyframes slidebg {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}